mixin footer
  // START FOOTER
  footer.bg-primary.pt-70.pb-70
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
          a(href='#')
            img.image-xs.mb-10.fade-on-hover(alt='Logo', src='/assets/images/logo/afx-white.png', style='height: 40px;')
          h5.fade-1-2 Handcrafted by Arteffects International © 2016
          ul.list-inline.social-list.mb-0
            li
              a(href='https://www.facebook.com/arteffectsinternational/')
                span.soc-facebook
            li
              a(href='https://www.instagram.com/arteffectsint/')
                span.soc-instagram
            li
              a(href='https://twitter.com/arteffectsint')
                span.soc-twitter
            li
              a(href='https://www.youtube.com/user/ArteffectsSdnBhd')
                span.soc-youtube
            li
              a(href='https://vimeo.com/arteffectsinternational')
                span.soc-vimeo
      // end of row
    // end of container

  // END FOOTER
